<div class="container">
  <img src="public/assets/Best-Burger.jpg" class="img-fluid" alt="Burger Image">
  <div class="jumbotron">
    <h1 style="text-align:center;"> Order Your Burger</h1>
  <div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burgers/createburger" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat.</p>
		</div>
	</div>
</div>
  
  </div>
  <div class="row justify-content-around text-center px-3">
    <div class="col-12 col-md-5 wait-container">
      <h4>Burgers Ordered </h4>
      <div class="row">
        {{#each burger_data}}
        {{#unless this.devoured}}
        <div class="col-md-9 text-center">
          <pre>{{this.burger_name}}
					</pre>
        </div>
        <div class="col-md-3 text-center">
          <form class="devour-form button-size">
            <input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
            <button type="submit" class="btn btn-default">Devour it!</button>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    <div class="col-12 col-md-5 devoured-container">
      <h4>Burgers Devoured </h4>
      <div class="row">
        {{#each burger_data}}
        {{#if this.devoured}}
        <div class="text-center">
          <pre>{{this.burger_name}}
					</pre>
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</div>

